.mb-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: #f8fafc;
  padding: 30px 20px 30px 20px;
}
@media screen and (min-width: 576px) {
  .mb-nav-bar {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.logo-and-logo-name-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 10px;
}
.header-logo-name {
  font-family: 'DM Sans';
  color: #f7931e;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.trigger-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.menu-icon {
  height: 25px;
  width: 25px;
}
@media screen and (min-width: 576px) {
  .trigger-btn {
    display: none;
  }
}
.popup-ele-container {
  background-color: #ffffff;
  height: 128px;
  width: 355px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid red;
}
.nav-ele-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-nav-ele {
  font-family: 'Roboto';
  color: #334155;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-right: 10px;
}
.cart-nav-ele {
  font-family: 'Roboto';
  color: #f7931e;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-right: 10px;
}
.log-out-btn {
  background-color: #f7931e;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}
.close-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.close-icon {
  height: 30px;
  width: 30px;
}
.lg-nav-ele-container {
  display: none;
}
@media screen and (min-width: 576px) {
  .lg-nav-ele-container {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
  .home-nav-ele {
    font-family: 'Roboto';
    color: #f7931e;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .cart-nav-ele {
    font-family: 'Roboto';
    color: #334155;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .log-out-btn {
    background-color: #f7931e;
    border-radius: 8px;
    padding: 10px 15px 10px 15px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    margin-left: 10px;
  }
}
