.login-container {
  min-height: 664px;
}
.heading-and-img-container {
  display: flex;
  justify-content: space-between;
}
.login-heading-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.login-container-heading {
  font-family: 'DM Sans';
  color: #0f172a;
  font-size: 42px;
  font-weight: 700;
  line-height: 32px;
  padding-left: 13px;
}
.img-container {
  width: 100%;
}
.login-page-landing-sm-img {
  height: 275px;
}
.login-form-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.form-logo-heading-container {
  display: none;
}
.form-heading {
  font-family: 'DM Sans';
  color: #f7931e;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.login {
  font-family: 'DM Sans';
  color: #0f172a;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}
.username-input-and-label-container {
  width: 320px;
  height: 64px;
}
.username-input-label {
  font-family: 'DM Sans';
  color: #475569;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  width: 66px;
  height: 16px;
}
.username-input-field {
  width: 320px;
  height: 40px;
  font-family: 'DM Sans';
  color: #475569;
  font-size: 18px;
  font-weight: 600;
  border-radius: 2px;
  background: #e2e8f0;
  border: none;
  outline: none;
  padding-left: 15px;
}
.password-input-and-label-container {
  width: 320px;
  height: 64px;
  margin-top: 20px;
}
.password-input-label {
  font-family: 'DM Sans';
  color: #475569;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  width: 68px;
  height: 16px;
}
.password-input-field {
  background: #e2e8f0;
  width: 320px;
  height: 40px;
  font-family: 'DM Sans';
  color: #475569;
  font-size: 18px;
  font-weight: 600;
  border-radius: 2px;
  border: none;
  outline: none;
  padding-left: 15px;
}
.error-msg {
  width: 234px;
  height: 16px;
  top: 536px;
  left: 24px;
  font-family: 'DM Sans';
  color: #ef4444;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.login-btn-container {
  width: 340px;
  height: 40px;
  margin-top: 20px;
}
.submit-btn {
  font-family: 'DM Sans';
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  width: 340px;
  height: 40px;
  border-radius: 8px;
  background: #f7931e;
  border: none;
  outline: none;
}
.lg-landing-img {
  display: none;
}
@media screen and (min-width: 768px) {
  .heading-and-img-container {
    display: none;
  }
  .login-form-bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .login-form-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-logo-heading-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .lg-landing-img {
    width: 60%;
    height: 100vh;
    display: flex;
  }
}
